body
{
	background-color: rgb(111, 255, 200);
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header
{
	border: 3px #181818 solid ;
	display: flex;
	justify-content: space-between;
}
h1
{
	text-decoration: underline;
	color: black;
	margin-right: 20px;
	font-size: 30px;
}
nav
{
	text-align: center;

}
nav ul
{
	list-style-type: none;
	display: flex;
}
nav li 
{
	margin-right: 15px;
}
nav a
{
	font-style: 1.3em;
	color: #181818
}
div 
{
	display: flex;
	justify-content: center;
	height: 50%;
}
section
{
	display: flex;
	justify-content: space-between;
}
article
{
	font-size: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width:72%;

}
section aside
{
	border: 3px black solid;
	padding: 10px;
	display: flex;
	flex-direction: column;
	background-color: white;
}
section aside p
{
	font-size: 20px;	
	text-align: center;
}
p
{
	text-align: justify;
}
footer
{
	border: 1px black solid;
	display: flex;
	justify-content: space-between;
}
footer aside
{
	margin-left: 10px;
}
footer div
{
	margin-right: 10px;
	margin-bottom: 2px;
}
a:hover
{
	color: rgb(255, 0, 0);
}
@media screen and (max-width: 1024px)
{
	header
	{
		flex-direction: column;
	}
	h1 
	{
		text-align: center;
	}
	nav ul 
	{
		flex-direction: column;
	}
	section
	{
		flex-direction: column;
	}
	article
	{
		width: 100%;
		text-align: center;
	}
	footer div
	{
		display: flex;
		flex-direction: column;
		text-align: center;
	}
}